body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.nav-bar {
    background-color: gray;
    height: 200px;
    width: 100%;
    font-size: bold;
    position: fixed;
    top: 0;
    z-index: -3;
    
}
.logo {
    height: 250px;
    width: 375px;
    /*margin-top: 1px;
    Margin-left: 10px; */
    margin: auto;
    font-size: 500px;
    color: red;
}
.nav-list {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
       
}

.nav-list a:hover {
    text-decoration: none;
    color: black;
    font-size: 32px;
}
   

.list-item {
    display: inline-block;
    padding-right: 25px;
    border: solid black;
    font-size: bold 25px; 
    color: black;
}
.main {
    height: 500px;
    width: 90%;
    background-image: url(../images/jeepjl2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
    margin-left: 10px;
}
.main-box {
    height: 100px;
    width: 300px;
    position: absolute;
    top: 250px;
    left: 400px;
    background-color:gray;
    border: solid 3px black; 
}
.main-text {
    color: black;
    text-align: center;
    text-shadow: 3px 3px red;
}
.main-img {
    height: 500px;
    width: 100%;
}
.section {
    width: 100%;
    height: 600px;
    position: relative;
}

.section-img, .section-p {
    position: absolute;
    height: 540px;
    width: 46%;
    border: solid 3px black;
    
}
.section-p {
    top: 25px;
    right: 30px;
    
    
}
.section-img {
    top: 25px;
    left: 30px;
}


.footer {
    background-color: red;
    height: 100px;
    width: 100%;
    /* position: fixed;  */
}
.footer div {
    width: 33%;
}

.footer-input input, .footer-input button {
    display: inline-block;
}

.footer-input input  {
height: 30px;
width: 300px;
}

.footer-input button {
    height: 30px;
    width: 50px;
}

.fab {
    font-size: 2em;
    color: black;
}
input, button, .fab {
    display: inline;
    text-align: center;
}
